		<img src="/assets/19720507.svgz">

		<div class="content">
			<h1>About</h1>
			<p>“Wine Without Bottles” is an open source art project by Jason Conny and takes its title from John Perry Barlow’s 1993 essay “Selling Wine Without Bottles: The Economy of Mind on the Global Net“.  The heart of the project, and the spirit of Barlow’s essay, is the notion that in the digital age it has become increasingly difficult, if not impossible, to contain and control intellectual property when systems of distribution exist that lie outside the control of the individual.</p>
			<p>“Wine Without Bottles” is a set of instructions designed to foster the graphic representation of arbitrary sets of data. These instructions are freely available to anyone who chooses to take part. Once realized, the ultimate form the data realization takes is entirely up to you.</p>
			<p>This website serves as a point of reference for the project as well as a method of distribution for your own data realizations. Download the instructions and post a PDF, JPEG or PNG of the outcome on winewithoutbottles.com</p>
		</div>