	<nav id="nav-toggle">
		<ul class="cf">
			<li><a href="#" class="toggle-nav">WWOB</a></li>
			<li><a href="#" class="toggle-info">i</a></li>
		</ul>
	</nav>

	<nav id="main-navigation">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/collections">Collections</a></li>
			<li><a href="/gallery">Gallery</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/instructions">Instructions</a></li>
		</ul>
	</nav>

	<nav id="direction-navigation">
		<ul class="cf">
			<li class="back"><a href="#">&larr;</a></li>
			<li class="forward"><a href="#">&rarr;</a></li>
		</ul>
	</nav>
